<input type="checkbox" name="connected" [(ngModel)]="connected" />

<span *ngIf="!connected">Se connecter</span>
<span *ngIf="connected">Vous êtes connecté</span>

<p *ngIf="!connected">Vous n'êtes pas connecté</p>

<div id="main" *ngIf="connected">
  
  <form>
    <fieldset>
      <legend>Saisie Carte Identité</legend>
      <p>
        <label for="urgence">Urgence : </label>
        <input type="checkbox" name="urgence" [(ngModel)]="urgence" />
      </p>
<!--       <p>
        <label for="choixCouleur">Choix Couleur : </label>
        <select id="choixCouleur" name="choixCouleur" [(ngModel)]="choixCouleur">
          <option value="blue">Bleu</option> 
          <option value="red">Rouge</option>
        </select>
      </p> -->
      <p>
          <label for="choixCouleur">Choix Couleur : </label>
          <select id="choixCouleur" name="choixCouleur" [(ngModel)]="choixCouleur">
              <option *ngFor="let color of colors;">{{color}}</option>
          </select>
        </p>
      <p>
        <label for="name">Nom : </label>
        <!--<input type="text" name="name" id="name" size="50" (input)="changeName(inputName.value)" value="{{user.name}}" #inputName /> -->
        <input type="text" name="name" [(ngModel)]="user.name" />
      </p>
      <p>
        <label for="jobTitle">JobTitle : </label>
        <!-- <input type="text" name="jobTitle" id="jobTitle" size="50" (input)="changeJobtitle(inputJobTitle.value)" value="{{user.jobTitle}}" #inputJobTitle /> -->
        <input type="text" name="jobTitle" [(ngModel)]="user.jobTitle" />  
      </p>
      <p>
        <label for="image">Image : </label>
        <!-- <input type="text" name="image" id="image" size="50" (input)="changeImage(inputImage.value)" value="{{user.image}}" #inputImage /> -->
        <input type="text" name="image" [(ngModel)]="user.image" />
        <!-- https://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg -->
      </p>
    </fieldset>
  </form>

  <div class="ligne"></div>

  <!-- <div id="result" [style.color]="'red'"> -->
  <!-- <div id="result" [style.color]="urgence ? user.textColorUrgent : user.textColorNormal"> -->
  <!-- <div id="result" [class]="urgence ? 'red' : 'blue'"> -->
  <div id="result" [class]="choixCouleur">
    <ul>
      <!-- <li><img src="{{user.image}}" alt="" class="photo"></li> -->
      <li><img [src]="user.image" alt="" class="photo"></li>
      <li><strong>Nom : </strong>{{user.name}}</li>
      <li><strong>Jobtitle : </strong>{{user.jobTitle}}</li>
      <li *ngIf="urgence">URGENT</li>
    </ul>
  </div>

</div> <!-- /main-->


